<script setup lang="ts">
</script>

<template>
  <section id="about-me">
    <h2>About Me</h2>
    <br />  
    <p>
      Hello! My name is Johnny Nguyen. I'm a full-stack developer with a range of skillsets from web, mobile and desktop. I like to
      dabble in new topics from time to time. I currently work at Alteris Group as a Senior Software Developer. I'm open to new ideas,
      suggestions, or if you ever want to chat it up with emerging technologies, please count me in!
    </p>
    <br />  
    <p>
      You can find my contact information here:

      <a href="mailto:jnguyen1236@gmail.com">jnguyen1236@gmail.com</a>
    </p>
  </section>
</template>

<style lang="scss" scoped>
</style>