<script setup lang="ts">
import { personalProjects, workProjects } from '../lib/builder';


function getRandomColor() {
  const letters = '0123456789ABCDEF';
  let color = '#';
  
  for (let i = 0; i < 6; i++) color += letters[Math.floor(Math.random() * 16)];

  return color;
}


</script>

<template>
  <section id="personal-projects">
    <h2>Personal Projects</h2>
    <div class="grouping">
      <div 
        v-for="(project, id) in personalProjects"
        :key="`personal-project-${id}`"
        class="group-item"
      >
        <div class="group-header">
          <font-awesome-icon
            class="file-icon"
            icon="fa-solid fa-file-lines"
            size="1x"
          />
          <a
            :href="project?.link ?? '#'"
            :target="(project?.link !== null) ? '_blank' : undefined"
          >
            {{ project.title }}
          </a>
        </div>

        <div class="group-content">
          <p>
            {{ project.description }}
          </p>
        </div>

        <div class="group-footer">
          <ul>
            <li
              v-for="(skill, skillId) in project.skillSets"
              :key="`skill-${skillId}`"
            >
              <span
                class="badge-icon"
                :style="{ 'background-color': getRandomColor() }"
              />
              <span>
                {{ skill }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="work-projects">
    <h2>Work Projects</h2>

    <div class="grouping">
      <div 
        v-for="(project, id) in workProjects"
        :key="`work-project-${id}`"
        class="group-item"
      >
        <div class="group-header">
          <font-awesome-icon
            class="file-icon"
            icon="fa-solid fa-file-lines"
            size="1x"
          />
          <a
            :href="project?.link ?? '#'"
            :target="(project?.link !== null) ? '_blank' : undefined"
          >
            {{ project.title }}
          </a>
        </div>

        <div class="group-content">
          <p>
            {{ project.description }}
          </p>
        </div>

        <div class="group-footer">
          <ul>
            <li
              v-for="(skill, skillId) in project.skillSets"
              :key="`skill-${skillId}`"
            >
              <span
                class="badge-icon"
                :style="{ 'background-color': getRandomColor() }"
              />
              <span>
                {{ skill }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
div.grouping {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .group-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #FFF;
    padding: 1rem;
    width: 20rem;
    min-height: 10rem;

    .group-header {
      margin-left: 0.5rem;
      padding: 1rem 0;
      border-bottom: 1px solid #3c3b41;

      a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bold;
        font-size: 1.25rem;

        &:hover {
          text-decoration: underline;
        }
      }

      .file-icon {
        font-size: 1.25rem;
        margin-right: 0.5rem;
      }
    }

    .group-content {
      min-height: 10rem;
    }

    .group-footer {
      margin-top: auto;

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: space-between;
        list-style-type: none;
        padding: 0;

        li {
          width: 50%;
        }
      }

      .badge-icon {
        display: inline-block;
        content: " ";
        width: 8px;
        position: relative;
        left: 0;
        height: 8px;
        top: -1px;
        border-radius: 4px;
        margin-right: 4px;
      }
    }
  }
}
</style>