<script setup lang="ts">
</script>

<template>
  <aside>
    <section id="profile">
      <router-link to="/">
        <img
          src="/profile.jpg"
          alt="Profile Picture"
        />
      </router-link>
      <h1>Johnny Nguyen</h1>
      <p class="secondary">
        Software Developer @ Alteris Group Canada
      </p>
      <div class="btn-group">
        <router-link to="/about">
          About
        </router-link>
        <a
          href="/resume.pdf"
          target="_blank"
        >
          Resume
        </a>
      </div>
      <div class="icon-list">
        <a
          href="https://github.com/j-nguyen"
          target="_blank"
        >
          <font-awesome-icon
            icon="fa-brands fa-github"
            size="2x"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/johnny-n-94453597/"
          target="_blank"
        >
          <font-awesome-icon
            icon="fa-brands fa-linkedin"
            size="2x"
          />
        </a>
      </div>
    </section>
  </aside>
  <main>
    <section class="content">
      <router-view />
    </section>
  </main>
</template>

<style scoped lang="scss">

@mixin aside-anchor {
  text-decoration: none;
  color: var(--text-color);
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  padding: 1rem;
  border-right: 1px solid #1c1c1e;
  background: var(--aside-color);

  @media screen and (max-width: 768px) {
    width: auto;
  }

  #profile {

    img {
      display: block;
      margin: 0 auto;
      width: 200px;
      border-radius: 50%;
    }

    h1 {
      margin: 1rem 0 0 0;
      text-align: center;
    }

    p {
      margin-top: 0;
      text-align: center;
    }

    .btn-group {
      display: flex;
      justify-content: center;
      margin: 1rem 0;

      a {
        display: block;
        border: 1px solid #636e72;
        padding: 0.5rem 1rem;
        
        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        &:link {
          @include aside-anchor();
        }

        &:visited {
          @include aside-anchor()
        }

        &:hover {
          background: #404043;
          transition: all 0.25s ease-out;
        }

        &:active {

        }

      }
    }

    .icon-list {
      display: flex;
      justify-content: center;
      gap: 1rem;

      a {
        color: var(--text-color);

        &:hover {
          transition: all 0.5s ease-out;
          transform: scale(1.25);
        }
      }
    }
  }
}

main {
  width: 100%;
  overflow-y: auto;
  
  @media screen and (max-width: 768px) {
    overflow-y: unset;
  }
}

section.content {
  padding: 1rem;
}

</style>
