:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color: #f1f2f6;
  --aside-color: #161618;
  --background-color: #1e1e20;
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  width: 100%;
  height: 100%;

  color: var(--text-color);
  
  background: var(--background-color);
}

p, h1, h2, h3, h4, h5 {
  margin: 0.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

.secondary {
  font-weight: lighter;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}